/* ~~~~~~~~~~~~~ COLORS ~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~ FONTS ~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~ */
body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  letter-spacing: 6.25px;
  padding-top: 100px;
  height: 100%;
  position: relative;
}

h1::after {
  content: url(/images/icon-arrow-down.svg);
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
}

h2, h3, h4, h5 {
  color: #23303e;
}

p {
  font-family: "Barlow", sans-serif;
  color: #4E505F;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.13px;
}

/* ~~~~~~~~~~~~~ LINKS ~~~~~~~~~~~~~ */
.link-learn {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: #23303e;
  text-decoration: none;
  position: relative;
  font-weight: 900;
}

.link-yellow::after {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #fad400;
  opacity: 0.50;
  border-radius: 28px;
}

.link-red::after {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #fe7867;
  opacity: 0.50;
  border-radius: 28px;
}

/* ~~~~~~~~~~~~~ HEADER MOBILE ~~~~~~~~~~~~~ */
.header {
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.nav .logo, .nav nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 30px;
}

.nav .navbutton {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 0;
}

.nav .nav-links {
  list-style-type: none;
}

.nav .nav-links.hidden {
  display: none;
}

.nav .nav-links.grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: white;
  position: absolute;
  height: 50vh;
  width: 85%;
  top: 70px;
  right: 2em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  padding-top: 2em;
  z-index: 1;
}

.nav .nav-links a {
  margin: 0 auto;
  color: #23303e;
  text-decoration: none;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.13px;
}

.nav .nav-links .contact {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: #19536b;
  border-radius: 28px;
  padding: 15px;
  font-size: 0.95rem;
  background-color: #fad400;
  border: 3px solid #fad400;
}

.nav .nav-links .contact:hover {
  background-color: rgba(200, 231, 255, 0.25);
  color: #23303e;
}

.nav .nav-links::after {
  content: '';
  position: absolute;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid white;
  clear: both;
}

/* ~~~~~~~~~~~~~ HEADER > 750px ~~~~~~~~~~~~~ */
@media only screen and (min-width: 750px) {
  .header {
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    background-position: bottom;
  }
  .nav .navbutton {
    display: none;
  }
  .nav .nav-links {
    margin: 0;
    padding: 0;
    margin: 2em;
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: transparent;
  }
  .nav .nav-links.hidden, .nav .nav-links.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .nav-links a {
    margin-left: 50px;
    color: white;
  }
  .nav .nav-links::after {
    content: none;
  }
  .nav .nav-links .contact {
    color: #23303e;
    background-color: white;
    border: 3px solid white;
  }
  .nav .nav-links .contact:hover {
    color: white;
  }
}

/* ~~~~~~~~~~~~~ MAIN MOBILE~~~~~~~~~~~~~ */
.main {
  display: -ms-grid;
  display: grid;
  width: 100%;
  text-align: center;
}

.main-section {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1.5fr 1.5fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1.5fr 1.5fr;
  gap: 0;
}

.main-section .img-top {
  background-image: url(/images/mobile/image-transform.jpg);
}

.main-section .img-middle {
  background-image: url(/images/mobile/image-stand-out.jpg);
}

.main-section .img-top, .main-section .img-middle {
  height: 100%;
  background-size: cover;
}

.main-section .text-top, .main-section .text-middle, .main-section .text {
  margin: auto;
  padding-left: 0.9em;
  padding-right: 0.9em;
  padding-bottom: 4em;
  max-width: 500px;
}

.main-section .text-bottom-left, .main-section .text-bottom-right {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.main-section .text-bottom-left .text, .main-section .text-bottom-right .text {
  padding-top: 100%;
}

.main-section .text-bottom-left {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  color: #25564b;
}

.main-section .text-bottom-left p {
  color: #25564b;
}

.main-section .text-bottom-right {
  background-image: url(/images/mobile/image-photography.jpg);
  color: #19536b;
}

.main-section .text-bottom-right p {
  color: #19536b;
}

/* ~~~~~~~~~~~~~ MAIN > 750px ~~~~~~~~~~~~~ */
@media only screen and (min-width: 750px) {
  .main-section {
    max-height: 2400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-areas: "textTop imgTop";
  }
  .main-section .img-top {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imgTop;
    background-image: url(/images/desktop/image-transform.jpg);
  }
  .main-section .img-middle {
    background-image: url(/images/desktop/image-stand-out.jpg);
  }
  .main-section .text-top {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: textTop;
  }
}

/* ~~~~~~~~~~~~~ TESTIMONIALS MOBILE ~~~~~~~~~~~~~ */
.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  /* flex-grow, flex-shrink, flex-basis */
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.testimonials article {
  margin: 0 auto;
  width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 0.8fr 30px;
      grid-template-rows: 0.5fr 0.8fr 30px;
}

.testimonials article img {
  border-radius: 50%;
  width: 72px;
  margin: 0 auto;
}

/* ~~~~~~~~~~~~~ TESTIMONIALS > 950px ~~~~~~~~~~~~~ */
@media only screen and (min-width: 950px) {
  .testimonials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .testimonials h2 {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .testimonials article {
    max-width: 300px;
    justify-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-bottom: 50px;
  }
}

/* ~~~~~~~~~~~~~ PICTURE SECTION MOBILE ~~~~~~~~~~~~~ */
.picture-section {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 400px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.picture-section .picture-one, .picture-section .picture-two, .picture-section .picture-three, .picture-section .picture-four {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.picture-section .picture-one {
  background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
}

.picture-section .picture-two {
  background-image: url(/images/mobile/image-gallery-orange.jpg);
}

.picture-section .picture-three {
  background-image: url(/images/mobile/image-gallery-cone.jpg);
}

.picture-section .picture-four {
  background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
}

/* ~~~~~~~~~~~~~ PICTURE SECTION MOBILE > 750px ~~~~~~~~~~~~~ */
@media only screen and (min-width: 750px) {
  .picture-section {
    height: 450px;
    width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0;
  }
  .picture-section .picture-one, .picture-section .picture-two, .picture-section .picture-three, .picture-section .picture-four {
    background-size: cover;
  }
}

/* ~~~~~~~~~~~~~ FOOTER MOBILE ~~~~~~~~~~~~~ */
.footer {
  background-color: #90d4c6;
  color: #274943;
  height: 300px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 3em;
}

.footer .logo, .footer .footer-nav, .footer .social {
  place-self: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer a {
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  color: #274943;
}

.footer a:hover {
  color: white;
}

.footer .logo {
  padding: 2em;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer .footer-nav ul, .footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer-nav {
  padding-bottom: 3em;
}

.footer .social img:hover {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

/* ~~~~~~~~~~~~~ FOOTER > 650px ~~~~~~~~~~~~~ */
@media only screen and (min-width: 650px) {
  .footer .footer-nav a {
    padding-left: 2em;
    padding-right: 2em;
  }
}
/*# sourceMappingURL=style.css.map */